<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>React16.8.6版本</title>
    <!--<script src="https://cdn.bootcss.com/react/15.2.0/react.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/react/15.2.0/react-dom.js"></script>-->
    <script src="https://cdn.bootcss.com/react/16.8.6/umd/react.development.js"></script>
    <script src="https://cdn.bootcss.com/react-dom/16.8.6/umd/react-dom.development.js"></script>
    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>
<body>
<div id="root"></div>
<script type="text/babel">
    class Button extends React.Component {
        constructor(props) {
            super(props);

            // 设置 initial state
            this.state = {
                text: props.initialValue || 'placeholder'
            };

            // ES6 类中函数必须手动绑定
            this.handleChange = this.handleChange.bind(this);
        }

        handleChange(event) {
            this.setState({
                text: event.target.value
            });
        }
        render(){
            return (
                <section>
                    <input onChange={this.handleChange} value={this.state.text}/>
                    <p>{this.state.text}</p>
                </section>
            )
        }
    }
    ReactDOM.render(
        <Button initialValue="Lucy" />,
        document.getElementById('root')
    );

</script>
</body>
</html>